<div fxFlex="100%" class="footer">
  <div style="text-align:center">
    <a md-icon-button class="btn-facebook" href="https://www.facebook.com/profile.php?id=100005500668025"><i class="fa fa-facebook fa-lg"></i></a>
    <a md-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/pu-gao-9a30b6b5/"><i class="fa fa-linkedin fa-lg"></i></a>
    <a md-icon-button class="btn-youtube" href="https://github.com/Ilovelibrary"><i class="fa fa-github fa-lg"></i></a>
    <a md-icon-button class="btn-mail" href="mailto:18362963209@163.com"><i class="fa fa-envelope-o fa-lg"></i></a>
    <a md-icon-button class="btn-twitter" href="sms://9374697256"><i class="fa fa-commenting-o fa-lg"></i></a>
  </div>
</div>
