<div class="container"
    fxLayout="column"
    fxLayoutGap="10px" [@flyInOut]>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="bubble" fxFlex="20">
      <h2> Education </h2>
    </div>
    <div >
      <div class="bubble" fxFlex="80">
        <h5>University of California, San Diego (UCSD)</h5> 
        <h6 style="font-family:arial">Sep 2014 - Anticipated Dec 2017 </h6>
        <h6 style="font-family:arial">Degree: Master of Science, EE (Intelligent System, Robotics and Control) </h6>
      </div>
      <div class="bubble" fxFlex="80">
        <h5>University of Dayton (Udayton)</h5> 
        <h6 style="font-family:arial">July 2014 – May 2016</h6>
        <h6 style="font-family:arial">Degree: Bachelor of Electrical Engineer </h6>
      </div>
      <div class="bubble" fxFlex="80">
        <h5>Nanjing University of Science & Technology (NUST)</h5> 
        <h6 style="font-family:arial">Sep 2012 – July 2016</h6>
        <h6 style="font-family:arial">Degree: Bachelor of Communication Engineer </h6>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <div class="bubble" fxFlex="20">
      <h2> Skills </h2>
    </div>
    <div fxFlex="80">
        <p class="bubble">MATLAB</p>
        <p class="bubble">Python</p>
        <p class="bubble">Javascript</p>
        <p class="bubble">Java</p>
        <p class="bubble">HTML</p>
        <p class="bubble">CSS</p>
        <p class="bubble">jQuery</p>
        <p class="bubble">BootStrap</p>
        <p class="bubble">Angular</p>
        <p class="bubble">Flask</p>
        <p class="bubble">SQL</p>
        <p class="bubble">PostgreSQL</p>
        <p class="bubble">Machine Learning Theory</p>
        <p class="bubble">Algorithms</p>
        <p class="bubble">Git</p>
        <p class="bubble">Github</p>
        <p class="bubble">Data Structures</p>
        <p class="bubble">Algorithm of Graphs</p>
        <p class="bubble">NI Multisim</p>
        <p class="bubble">Digital Circuit</p>
        <p class="bubble">Logic Circuit</p>
        <p class="bubble">Circuit & PCB Design</p>
        <p class="bubble">Word</p>
        <p class="bubble">Excel</p>
        <p class="bubble">LaTex</p>
        <p class="bubble">PowerPoint</p>
    </div>
  </div>
</div>