<div class="container">
	<div class="row">
		<div class="wrapper col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<h2 id="titleName" class="sectionHead">Pu Gao</h2>
			<div id="bio" class="row">
				<h2>Software Engineer / Web Developer</h2>
				<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<p>	
						I'm a new graduate from University of California San Diego, seeking opportunity of full-time job as Software Engineer or Web Developer. 
					</p>	
				</div>
			</div>

			<h2 class="sectionHead">Education</h2>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<ul id="schools">
						<li>
							<div>
								<h4>University of California, San Diego (UCSD)</h4> 
								<h6>Sep 2014 - Dec 2017, Master of Science, EE (Intelligent System, Robotics and Control) </h6>
							</div>
						</li>
						<li>
							<div>
								<h4>University of Dayton</h4> 
								<h6>July 2014 – May 2016, Bachelor of Electrical Engineer </h6>
							</div>
						</li>
						<li>
							<div>
								<h4>Nanjing University of Science & Technology</h4> 
								<h6>Sep 2012 – Jun 2016, Bachelor of Communication Engineer </h6>
							</div>
						</li>
						
					</ul>
				</div>
			</div>

			<h2 class="sectionHead">Skills</h2>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<ul id="skills">
						<li id="skill1" class="s90"><span>Python</span></li>
						<li id="skill2" class="s70"><span>Java</span></li>
						<li id="skill1" class="s90"><span>MATLAB</span></li>
						<li id="skill2" class="s70"><span>JavaScript</span></li>
						<li id="skill3" class="s70"><span>HTML + CSS</span></li>
						<li id="skill4" class="s70"><span>jQuery</span></li>
						<li id="skill4" class="s70"><span>Bootstrap</span></li>
						<li id="skill2" class="s60"><span>MongoDB</span></li>
						<li id="skill2" class="s60"><span>Express</span></li>
						<li id="skill2" class="s60"><span>NodeJS</span></li>
						<li id="skill3" class="s80"><span>Angular</span></li>
						<li id="skill4" class="s80"><span>Flask</span></li>
						<li id="skill4" class="s80"><span>SQL/PostgreSQL</span></li>
						<li id="skill1" class="s90"><span>Git/Github</span></li>
						<li id="skill2" class="s90"><span>Algorithms</span></li>
						<li id="skill3" class="s90"><span>Data Structure</span></li>
						<li id="skill4" class="s80"><span>Algorithm of Graphs</span></li>
						<li id="skill4" class="s90"><span>Machine Learning</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>