	<div class="container">
		<div class="row">
			<main class="col-sm-12 col-md-12" id="featured-work">
				<div class="row feature-work-items">
					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://my-favorite-movie-trailers.herokuapp.com">
							<img class="card-image" alt="movie trailer website image" src="/assets/images/movietrailer.png">
						</a>
						<h4 class="card-title">
							<a href="https://my-favorite-movie-trailers.herokuapp.com">Movie Trailer Website</a>
						</h4>
						<p>It collects my favorite movie trailers.
							It can show the post and short description for each movie
							and play its trailer on youtube.
						</p>
						<a href="https://github.com/Ilovelibrary/ud036_StarterCode">Go to the Code</a>
					</div>

					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://stock-chart-gaopu.herokuapp.com">
							<img class="card-image" alt="movie trailer website image" src="/assets/images/stockchart.png">
						</a>
						<h4 class="card-title">
							<a href="https://stock-chart-gaopu.herokuapp.com">Stock Chart Website</a>
						</h4>
						<p>It's a web app that visualizes stock chart 
							with moving average. It also simply predicts 
							the stock market for the next 20 days.
						</p>
						<a href="https://github.com/Ilovelibrary/Stock-Chart-Website.git">Go to the Code</a>
					</div>

					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://chrome.google.com/webstore/detail/tritonassistant/dcaiaffhccfkgplacjagohnchnpneoco">
							<img class="card-image" alt="TritonAssistnt image" src="/assets/images/TritonAssistant.png">
						</a>
						<h4 class="card-title">
							<a href="https://chrome.google.com/webstore/detail/tritonassistant/dcaiaffhccfkgplacjagohnchnpneoco?hl=en-US">
								TritonAssistant
							</a>
						</h4>
						<p>This is a chrome extension that mainly helps UCSD student manage their schedule, 
              real-time weather, bookmark, student account auto-login.
						</p>
						<a href="https://github.com/Ilovelibrary/TritonAssistant.git">Go to the Code</a>
					</div>

					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://github.com/Ilovelibrary/Restaurant-Website-Frontend-based-on-Angular">
							<img class="card-image" alt="conFusion image" src="/assets/images/conFusion.png">
						</a>
						<h4 class="card-title">
							Restaurant Website
						</h4>
						<p>This is a restaurant webite with a front-end SPA based on Angular 
							and a full-fledged RESTful API server based on Express, MongoDB and NodeJS. 
						</p>
						<a href="https://github.com/Ilovelibrary/Restaurant-Website-Frontend-based-on-Angular">Go to the Code</a>
					</div>


					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://github.com/Ilovelibrary/Restaurants">
							<img class="card-image" alt="restaurant image" src="/assets/images/restaurant.png">
						</a>
						<h4 class="card-title">
							Restaurant Manager Website
						</h4>
						<p>This is a web app that user can manage a list of restaurant and
							their menu details for each restaurant stored in a Database.
						</p>
						<a href="https://github.com/Ilovelibrary/Restaurants">Go to the Code</a>
					</div>

					<div class="card col-xs-12 col-sm-6 col-md-4">
						<a href="https://github.com/Ilovelibrary/Portfolio">
							<img class="card-image" alt="portfolio image" src="/assets/images/portfolio.png">
						</a>
						<h4 class="card-title">
							Portfolio
						</h4>
						<p>It is my portfolio website.
							It lists projects I have accomplished in Udacity full-stack class.
						</p>
						<a href="https://github.com/Ilovelibrary/Portfolio">Go to the Code</a>
					</div>

				</div>
			</main>
		</div>
	</div>
