
.project{
  background-color: rgba(255, 256, 256, 0.5);
  text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}