
  <div fxFlex
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="10px" 
      fxLayoutGap.xs="0">
    
    <a href="https://github.com/Ilovelibrary/Front-End-JavaScript-Frameworks-Angular.git"
      target="_blank" fxFlex="20">
    <md-card class="project" >
      <md-card-header>
        <md-card-title>
          <h3>Ristorante Con Fusion</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="/assets/images/conFusion.png">
      <md-card-content>
        <p> 
          Based on Angular framework, this website is an comprehensive exercise of front-end development. 
          It implements all main skills in front-end development.
          This is a restaurant website, used as demonstration on Coursera course "Front-End JavaScript Frameworks: Angular".
        </p>
      </md-card-content>
    </md-card>
    </a>
    <a href="https://github.com/hy299792458/TritonAssistant.git"
      target="_blank" fxFlex="20">
    <md-card class="project">
      <md-card-header>
        <md-card-title>
          <h3>Triton Assistant</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="/assets/images/TritonAssistant.png">
      <md-card-content>
        <p> 
          This is a chrome extension that mainly helps UCSD student manage their schedule. 
          Some other functions are included like real-time weather, 
          adding bookmark, auto-login for common websites for UCSD stdents.
        </p>
      </md-card-content>
    </md-card>
    </a>
    <a fxFlex="20">
    <md-card  class="project">
      <md-card-content>
        <p> 
          Waiting to be added ...
        </p>
      </md-card-content>
    </md-card>
    </a>


  </div>
